{% extends 'base.html' %}
{% load static %}



{% block content %}
<div class="container mt-4">
  <div class="row">
    <div class="col-md-10">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item">
            <a href="">Setting Distict</a>
          </li>
          <li class="breadcrumb-item active" aria-current="page">
           District
          </li>
        </ol>
      </nav>
    </div>

    <div class="col-md-2">
      <a href="{% url ''%}" class="btn btn-primary">Add District</a>
    </div>
  </div>

</div>
</div>

<script src="{% static 'js/searchDistrict.js' %}"></script>




</script>



{% endblock content %}
