{% extends 'base.html' %} {% block content %}

<div class="container mt-4">
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item">
        <a href="{% url 'farmer'%}">Farmer</a>
      </li>
      <li class="breadcrumb-item active" aria-current="page">Add Farmer</li>
    </ol>
  </nav>

  <div class="card">
    <div class="card-body">
      <form action="{% url 'add-farmer' %}" method="post">
        {% include 'partials/_messages.html'%} {% csrf_token %}
     
        <div class="form-group">
          <label for="">First Name</label>
          <input
            type="text"
            class="form-control form-control-sm"
            name="first_name"
            value="{{values.first_name}}"
          />
        </div>
         <div class="form-group">
          <label for="">Middle Name</label>
          <input
            type="text"
            class="form-control form-control-sm"
            name="middle_name"
            value="{{values.middle_name}}"
          />
        </div>
          <div class="form-group">
          <label for="">Last Name</label>
          <input
            type="text"
            class="form-control form-control-sm"
            name="last_name"
            value="{{values.last_name}}"
          />
        </div>
         <div class="form-group">
          <label for="">Age</label>
          <input
            type="text"
            class="form-control form-control-sm"
            name="age"
            value="{{values.age}}"
          />
        </div>
         <div class="form-group">
          <label for="">Phone Number</label>
          <input
            type="number"
            class="form-control form-control-sm"
            name="phone_number"
            value="{{values.phone_number}}"
          />
        </div>
         <div class="form-group">
          <label for="">Identification</label>
          <input
            type="text"
            class="form-control form-control-sm"
            name="identification"
            value="{{values.identication}}"
          />
        </div>
        <!---
        <div class="form-group">
          <label for="">Crop</label>
          <select class="form-control" name="category">
            {% for category in categories%}
            <option name="category" value="{{category.name}}"
              >{{category.name}}</option
            >

            {% endfor %}
          </select>
        </div>
          <div class="form-group">
          <label for="">Region</label>
          <select class="form-control" name="category">
            {% for category in categories%}
            <option name="category" value="{{category.name}}"
              >{{category.name}}</option
            >

            {% endfor %}
          </select>
        </div>-->
       
 <div class="form-group">
          <label for="">Date of Birth</label>
          <input
            type="date"
            class="form-control form-control-sm"
            name="date_birth"
          />
        </div>

        <input
          type="submit"
          value="Submit"
          class="btn btn-primary btn-primary-sm"
        />
      </form>
    </div>
  </div>
</div>

{% endblock %}
