{% extends 'base.html' %} 
{% block content %}

<div class="container mt-4">
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item">
        <a href="{% url 'add-region'%}">Setup Region</a>
      </li>
      <li class="breadcrumb-item active" aria-current="page">Add Setup Region</li>
    </ol>
  </nav>

  <div class="card">
    <div class="card-body">
      <form action="{% url 'add-region' %}" method="post">
        {% include 'partials/_messages.html'%} {% csrf_token %}
        <div class="form-group">
          <label for="">Region Name</label>
          <input
            type="text"
            class="form-control form-control-sm"
            name="name_region"
            value="{{values.name_region}}"
          />
        </div>
        <input
          type="submit"
          value="Submit"
          class="btn btn-primary btn-primary-sm"
        />
      </form>
    </div>
  </div>
</div>

{% endblock %}
