{% extends 'base.html' %}
{% load static %}

{%block content%}

  <div class="container mt-4">
  <div class="row">
    <div class="col-md-10">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item">
            <a href="">Setting Region</a>
          </li>
          <li class="breadcrumb-item active" aria-current="page">
           Setup Region
          </li>
        </ol>
      </nav>
    </div>

    <div class="col-md-2">
      <a href="{% url 'add-region'%}" class="btn btn-primary">Add Region</a>
    </div>
  </div>

 <div class="container">
{% include 'partials/_messages.html' %} {% if setting_region.count %}
  <div class="row">
      <div class="col-md-8"></div>
      <div class="col-md-4">

        <div class="form-group">
          <input type="text" class="form-control" id="searchField" placeholder="Search">
        </div>
      </div>
    </div>

<div class="app-table">

  <table class="table table-stripped table-hover">
    <thead>
      <tr>
       <th>#</th>
        <th>Region Name</th>
        <th>Date </th>
         <th>Action </th>
      </tr>
    </thead>

    <tbody>
      {% for setting_region in page_obj%}
      <tr>
        <td>{{setting_region.id}}</td>
        <td>{{setting_region.name_region}}</td>
        <td>{{setting_region.date}}</td>

        <td>
          <a
            href="{% url 'region-edit' setting_region.id  %}"
            class="btn btn-secondary btn-sm"
            >Edit</a>
              <a
        href="{% url 'delete-region' setting_region.id %}"
        class="btn btn-danger btn-sm"
        >Delete</a
      >
        </td>
      </tr>

      {% endfor %}
    </tbody>
  </table>
  <div class="">
      Showing page {{page_obj.number}} of {{ page_obj.paginator.num_pages }}
    </div>
      <ul class="pagination align-right float-right mr-auto">
      {% if page_obj.has_previous %}
      <li {% if page_obj.number == 1 %} class="page-item active" {% endif %}><a class="page-link" href="?page=1">&laquo; 1</a></li>
      <li class="page-item"> <a class="page-link" href="?page={{ page_obj.previous_page_number }}">Previous</a></li>
      {% endif %}

      {% if page_obj.has_next %}
      <li class="page-item"> <a class="page-link" href="?page={{ page_obj.next_page_number }}">Next</a></li>
      <li class="page-item"> <a class="page-link" href="?page={{ page_obj.paginator.num_pages }}">{{ page_obj.paginator.num_pages}} &raquo;</a></li>
      {% endif %}


      </ul>
  {% endif %}
</div>
</div>
</div>
{% endblock content %}

<script src="{% static 'js/searchRegion.js' %}"></script>




